$main-text-color: azure;
$sub-text-color: hsla(0, 0%, 100%, 0.708);
$main-background-color: #050505;
$sub-background-color: #202020;
$tur-background-color: #353535;

body {
  background-color: $main-background-color;
  margin: 0;
}
.app{
  height: 100vh;
  width: 100%;
}
h1 {
  color: $main-text-color;
}
.total-div{

}
.left-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  text-align: center;
  background-color: $sub-background-color;
}

.top-bar {
  display: flex;
  border: solid;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  background-color: $sub-background-color
}

.div-round{
  border: 0px solid transparent;
  border-radius: 16px;
}
.main-div {
  height: 100%;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}
.playlist-div{
  height: 89%;
  margin-top: 1%;
  margin-bottom: 10px;
  background-color: $sub-background-color;
}